<html>

<body>

    <form action="{{ url_for('filter') }}" method="POST">
        <label for="divident-yield-start">Divident Yield Start</label>
        <input type="text" name="divident-yield-start">

        <label for="divident-yield-end">Divident Yield End</label>
        <input type="text" name="divident-yield-end">
        <br>
        <label for="payout-ratio-start">Payout Ratio Start</label>
        <input type="text" name="payout-ratio-start">

        <label for="payout-ratio-end">Payout Ratio End</label>
        <input type="text" name="payout-ratio-end">
        <br>
        <label for="divident-growth-start">Divident Growth Start</label>
        <input type="text" name="divident-growth-start">

        <label for="divident-growth-end">Divident Growth End</label>
        <input type="text" name="divident-growth-end">
        <br>
        <label for="beta-start">Beta Start</label>
        <input type="text" name="beta-start">

        <label for="beta-end">Beta End</label>
        <input type="text" name="beta-end">
        <br>
        <input type="hidden" name="id" value="0">
        <input type="submit" name="submit">
    </form>


    <form action="{{ url_for('filter') }}" method="POST">
        <label for="5-yr-eps-start">5 Year EPS Start</label>
        <input type="text" name="5-yr-eps-start">

        <label for="5-yr-eps-end">5 Year EPS End</label>
        <input type="text" name="5-yr-eps-end">
        <br>
        <label for="5-yr-sales-start">5 Year Sales Start</label>
        <input type="text" name="5-yr-sales-start">

        <label for="5-yr-sales-end">5 Year Sales End</label>
        <input type="text" name="5-yr-sales-end">
        <br>
        <label for="beta-start">Beta Start</label>
        <input type="text" name="beta-start">

        <label for="beta-end">Beta End</label>
        <input type="text" name="beta-end">
        <br>
        <label for="curr-ratio-start">Current Ratio Start (MRQ)</label>
        <input type="text" name="curr-ratio-start">

        <label for="curr-ratio-end">Current Ratio End (MRQ)</label>
        <input type="text" name="curr-ratio-end">
        <br>
        <label for="eps-start">EPS Start</label>
        <input type="text" name="eps-start">

        <label for="eps-end">EPS End</label>
        <input type="text" name="eps-end">
        <br>
        <input type="hidden" name="id" value="1">
        <input type="submit" name="submit">
    </form>

    <!-- <p><button onclick="sortTable(0)">Sort Company</button> 
        <button onclick="sortTable(1)">Sort Industry</button>
    </p> -->

    {% if id == 0 %}
    <table id="table">
        <tr>
            <th>NAME</th>
            <th>Dividend Yield ANN</th>
            <th>Payout Ratio TTM</th>
            <th>Dividend Growth Rate ANN</th>
            <th>P/E Ratio TTM</th>
        </tr>
        {% for key, value in companies.items() %}
        <tr>

            <th><a href="{{ url_for('company_data', name=key ) }}">{{ value['Name'] }}</a></th>

            <td>{{ value['Data']['Dividend Yield ANN'][0] }}</td>
            <td>{{ value['Data']['Payout Ratio TTM'][0] }}</td>
            <td>{{ value['Data']['Dividend Growth Rate ANN'][0] }}</td>
            <td>{{ value['Data']['P/E Ratio TTM'][0] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if id == 1 %}
    <table id="table">
        <tr>
            <th>NAME</th>
            <th>5 Year EPS Growth 5YA</th>
            <th>5 Year Sales Growth 5YA</th>
            <th>Current Ratio MRQ</th>
            <th>P/E Ratio TTM</th>
            <th>Basic EPS ANN</th>
        </tr>
        {% for key, value in companies.items() %}
        <tr>

            <th><a href="{{ url_for('company_data', name=key ) }}">{{ value['Name'] }}</a></th>

            <td>{{ value['Data']['5 Year EPS Growth 5YA'][0] }}</td>
            <td>{{ value['Data']['5 Year Sales Growth 5YA'][0] }}</td>
            <td>{{ value['Data']['Current Ratio MRQ'][0] }}</td>
            <td>{{ value['Data']['P/E Ratio TTM'][0] }}</td>
            <td>{{ value['Data']['Basic EPS ANN'][0] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}


    <script>
        function sortTable(index) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("pe-table");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[index].innerHTML.replace(",", "");
                    if (x == "-")
                        x = 0;
                    y = rows[i + 1].getElementsByTagName("TD")[index].innerHTML.replace(",", "");
                    if (y == "-")
                        y = 0;
                    console.log(x);
                    console.log(y);
                    if (Number(x) >= Number(y)) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    </script>
</body>

</html>