{% extends "layout.html" %}
{% block title %}Gearshift Investments{% endblock %}

{% block body %}
<div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Gearshift Learning E-Module
        </h1>
        <p class="lg:w-2/3 mx-auto my-6 leading-relaxed text-xl">Curious about securing financial needs – time to change
            gears?</p>
        <p class="mx-auto leading-relaxed text-base">If you are a high school student and willing to explore more about how to secure your financial needs - here
            is an opportunity to change gears with Gearshift Investment e-learning module. This helps you to change from
            gear 1 (with no knowledge) to gear 7 (with in-depth knowledge) gradually as you navigate through our
            modules. Happy e-learning!.</p>

    </div>
    <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">

            <a href="{{ url_for('module', num=1) }}">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M8 17l4 4 4-4m-4-5v9"></path>
                        <path d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">What is Money?</h2>
                    <p class="leading-relaxed">Module 1</p>
                </div>

            </a>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <a href="{{ url_for('module', num=2) }}">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">What are Stocks</h2>
                    <p class="leading-relaxed">Module 2</p>
                </div>
            </a>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <a href="{{ url_for('module', num=3) }}">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">Types of Stocks</h2>
                    <p class="leading-relaxed">Module 3</p>
                </div>
            </a>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <a href="{{ url_for('module', num=4) }}">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">What is the stock market</h2>
                    <p class="leading-relaxed">Module 4</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}