<html>

<body>
    <form action="{{ url_for('pe_ratio') }}" method="POST">
        <label for="start">Start</label>
        <input type="text" name="start">

        <label for="end">End</label>
        <input type="text" name="end">

        <input type="submit" name="submit">
    </form>

    <p><button onclick="sortTable(0)">Sort Company</button> 
        <button onclick="sortTable(1)">Sort Industry</button>
    </p>


    <table id="pe-table">
        <tr>
            <th>NAME</th>
            <th>COMPANY</th>
            <th>INDUSTRY</th>
        </tr>
        {% for key, value in companies.items() %}
        <tr>
            <th>{{ key }}</th>
            <td>{{ value[0] }}</td>
            <td>{{ value[1] }}</td>
        </tr>
        {% endfor %}
    </table>



    <script>
        function sortTable(index) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("pe-table");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[index].innerHTML.replace(",", "");
                    if (x == "-")
                        x = 0;
                    y = rows[i + 1].getElementsByTagName("TD")[index].innerHTML.replace(",", "");
                    if (y == "-")
                        y = 0;
                    console.log(x);
                    console.log(y);
                    if (Number(x) >= Number(y)) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    </script>
</body>

</html>